<template>
	<canvas class="blob"></canvas>
</template>

<script lang="ts">
	import {Vue, Component} from 'vue-property-decorator';

	@Component({})
	export default class Blob extends Vue {
	}
</script>

<style lang="scss">
	.blob {
		@include position(absolute,0);
		@include size(100%);
	}
</style>
