@import '~/assets/scss/core/_core';

.badge {
  $this: &;
  display: inline-block;
  border: 1px solid rgba(80, 156, 90, 1);
  background-color: rgba(242, 253, 241, 1);
  padding: 20px 30px;
  border-radius: 10px;

  &__label {
    font-size: 18px;
    font-weight: 500;
    font-family: $ffBody;
    color: rgba(43, 158, 82, 1);
  }

  @include breakpoint(phone down) {
    padding: 17px 30px;
  }

  @include breakpoint(tiny down) {
    width: 100%;
  }
}
