<template>
  <component
    :class="[...classes, 'badge', ...variantClasses]"
    :disabled="disabled"
    :href="href || null"
    :is="element"
    :target="target || null"
    :to="to || null"
    @click="clickHandler"
  >
    <v-typo class="badge__label" element="span" variant="body">
      <slot></slot>
    </v-typo>
  </component>
</template>

<script lang="ts">
import {Component, Prop, Vue} from 'nuxt-property-decorator';

@Component({})
export default class Badge extends Vue {
  @Prop({default: null}) readonly variant?: string | null;
  @Prop({default: null}) readonly theme?: string | null;
  @Prop({default: () => ([])}) readonly classes?: Array<string>;
  @Prop({default: false}) readonly disabled!: boolean;
  @Prop({default: null}) readonly href?: string | null;
  @Prop({default: null}) readonly to?: string | null;
  @Prop({default: 'div'}) readonly element?: string | null;
  @Prop({default: null}) readonly target?: string | null;
  @Prop({default: null}) readonly onClick?: Function | null;

  get clickHandler(): Function {
    return this.onClick ? this.onClick : () => ({});
  }

  get variantClasses(): Array<string> | null {
    if (!this.variant) {
      return null;
    }

    return this.variant.split(' ').map((variant) => {
      return `badge--${variant}`
    });
  }

}
</script>

<style lang="scss">
@import 'Badge';
</style>
