.vue-slider-marks {
  display: flex;
  justify-content: space-between;
  span {
    position: relative;
    top: 200%;
    height: 13px;
    color: #555555;
    font-family: $ffBody;
    font-size: 13px;
    font-weight: 400;
  }
}

.vue-slider-dot {
  box-shadow: none;
}

.vue-slider {
  height: 13px!important;
  border-radius: 6px;
  padding-left: 0!important;
  padding-right: 0!important;
}

.vue-slider-rail {
  background-color: #e8ecf5;
}

.vue-slider-dot-handle {
  border-radius: 17px!important;
  box-shadow: 0 1px 2px $cGrey-100, 0 0 7px rgba(191, 191, 194, 0.45), inset 0 0 4px rgba(204, 206, 209, 0.75)!important;
  border: 3px solid $cWhite!important;
}

.vue-slider-dot-tooltip {
  cursor: grab;
}

.vue-slider-dot-tooltip-top {
  display: flex;
  align-items: center;
  justify-content: center;
  @include position(absolute, 50% null null 50%);
  line-height: 1;
  font-size: 14px;
  height: 34px;
  padding: 0 10px;
  color: $cWhite;
  box-shadow: 0 1px 2px #e4e4e4, 0 0 7px rgba(191, 191, 194, 0.45), inset 0 0 4px rgba(204, 206, 209, 0.75);
  border-radius: 17px;
  border: 3px solid #ffffff;
  background-color: #0b0146;

  transform: translate(-50%, -50%)!important;

  .custom-tooltip {
    white-space: nowrap;
  }
}

.vue-slider-process {
  background-color: #0b0146;
}
