<template>
  <footer class="footer">
    <div class="footer__wrapper">

      <div class="column">
        <small
          style="font-weight: lighter;"
        >
          Autopůjčovna dodávek v Plzni – krátkodobý i dlouhodobý pronájem dodávky, půjčení osobního automobilu. Rychlé
          <NuxtLink to="/faq">půjčení dodávky a osobního automobilu</NuxtLink>
          i do zahraničí.
        </small
        >
      </div>
    </div>
  </footer>
</template>

<script lang="ts">
import {Component, Vue} from 'vue-property-decorator'

@Component({})
export default class Footer extends Vue {
}
</script>

<style lang="scss">
@import '~/assets/scss/layout/footer';
</style>
