<template>
  <header class="header">
    <div class="row">
      <div class="header__column column">
        <a href="/" class="header__logo">
          <v-image
            alt="Image"
            :tiny="logo.tiny"
            :classes="['header__logo-svg']"
          />
        </a>

        <div class="header__call">
          <v-icon :classes="['header__call-svg']" name="ui/phone"/>
          <div class="header__call-body">
            <a class="header__call-link" href="tel:+420604245505">
              604 245 505
            </a>
            <div><small>Každý den, 8–20</small></div>
          </div>
        </div>
        <ul ref="headerMenu" class="header__ul">
          <li class="header__li">
            <a data-scroll-to-element="calculator" href="#" @click="closeMenu"
            >Spočítat cenu</a
            >
          </li>
          <li class="header__li">
            <a data-scroll-to-element="rules" href="#" @click="closeMenu">Podmínky</a>
          </li>
          <li class="header__li">
            <a v-scroll-to="'#contact'" href="#" @click="closeMenu"
            >Kontaktovat</a
            >
          </li>
        </ul>
        <div ref="headerTrigger" class="header__trigger" @click="handleMenu">
          <div class="header__trigger--top"></div>
          <div class="header__trigger--bottom"></div>
        </div>
      </div>
    </div>
  </header>
</template>

<script lang="ts">
import {Component, Ref, Vue} from 'vue-property-decorator'
import VueScrollTo from "vue-scrollto";

@Component({})
export default class Header extends Vue {
  @Ref('headerMenu') readonly headerMenu!: HTMLElement
  @Ref('headerTrigger') readonly headerTrigger!: HTMLElement

  isTop: boolean = true
  isOpen: boolean = false
  html: HTMLElement | null | undefined
  logo: { [key: string]: string | Object } = {
    tiny: {
      default: require('~/assets/images/logo.png'),
      retina: require('~/assets/images/logo@2x.png')
    }
  }

  mounted(): void {
    if (typeof window === 'undefined') {
      return
    }
    this.html = document.querySelector('html')
    window.addEventListener('resize', this.handleResize)
  }

  handleMenu(): void {
    this.html!.classList.toggle('is-open')
  }

  closeMenu(e: any): void {
    if (e.target.dataset.scrollToElement) {
      const element = document.querySelector(`#${e.target.dataset.scrollToElement}`);

      console.log(element)
      this.$router.push('/');
      var options = {
        container: "body",
        easing: 'ease-in',
        lazy: false,
        offset: 0,
        force: true,
        cancelable: true,
        x: false,
        y: true
      }

      setTimeout(() => {
        var cancelScroll = VueScrollTo.scrollTo(`#${e.target.dataset.scrollToElement}`, 300, options)
      }, 300)
    }
    this.html!.classList.remove('is-open')
  }

  handleResize(e: Event): void {
    if (window.innerWidth >= 900) {
      this.html?.classList.contains('is-open')
        ? this.html?.classList.remove('is-open')
        : false
    }
  }
}
</script>

<style lang="scss">
@import '~@/assets/scss/layout/header';
</style>
