@import '~/assets/scss/core/_core';

.image {
	display: block;
	@include position(relative, null);
	overflow: hidden;
	justify-content: center;
	align-items: center;

	img {
		display: block;
		width: 100%;
		height: auto;
		-webkit-backface-visibility: hidden;
		-webkit-transform: translateZ(0) scale(1.0, 1.0);
	}
}
