// colors
$cRed: #e74c3c;

$cWhite: #ffffff;
$cBlack: #000000;

$cGrey: #2b2b2b;
$cGrey-100: #e4e4e4; //Used
$cGrey-200: #dee0ea; //Used
$cGrey-300: #717E87; //Used
$cGrey-400: #d1d7e3; //Used
$cGrey-500: #f1f2f8; //used
$cGrey-600: #ecedf4; //used

$cBlue: #0b0146;
$cBlue-100: #302E3A;

$cGreen-100: #2b9e52;
$cGreen-200: #f0fdf0;

$cPurple: #7e047f;
$cPurple-100: #f3e9f3;



$cPrimary: $cBlue;
$cSecondary: #FAFAF5;

// borders
$brDefault: 4px;

$bSh: 0 1px 8px 2px rgba(0, 0, 0, .075);
$grDefault: linear-gradient(90deg, #100657 31%, #EE1E23 73%);
$tdDefault: 0.2s;

// typo (specific typo combination like headings or bodycopy define in `typo.scss`)
$fwBlack: 900;
$fwExtraBold: 800;
$fwBold: 700;
$fwMedium: 600;
$fwRegular: 400;
$fwLight: 300;

$ffHeading: 'itc-avant-garde-gothic-pro', sans-serif;
$ffBody: 'sofia-pro-soft', sans-serif, cursive;;
$browser-context: 16; // Default
// vertical rythm

// dimensions
$dhHeader: 100px; // $dimensionHeightSomething
$borderTableStroke: 3px;

// transitions
$tdDefault: .2s;

// paths
$pAssets: '~@/images/';

//  Foundation for Sites Settings
//  -----------------------------
//
//  Table of Contents:
//
//   1. Global
//   2. Breakpoints
//   3. The Grid

@import '~foundation-sites/scss/util/util';

// 1. Global
// ---------

$global-font-size: 100%;
$global-width: rem-calc(1150px);
$global-width-small: 1110px;
$global-text-direction: ltr;
$global-flexbox: true;
$print-transparent-backgrounds: true;

// Internal variables used for text direction
$global-left: if($global-text-direction == rtl, right, left);
$global-right: if($global-text-direction == rtl, left, right);

// 2. Breakpoints
// --------------
// https://medium.freecodecamp.com/the-100-correct-way-to-do-css-breakpoints-88d6a5ba1862
// @media (max-width: 1200px) { ... } ==> @include breakpoint(tablet-landscape down) { ... }
$breakpoints: (
  tiny: 0,
  phone: 461px,
  tablet-portrait: 601px,
  tablet-landscape: 901px,
  desktop: 1201px,
  desktop-medium: 1501px,
  desktop-large: 1801px
);


// use `spacer(lg);` custom scss function
$vrBase: 1rem; // expecting default browser font-size is 16px, ready to by changed
$vrSpacers: (
  xxs: $vrBase, //16px
  xs: $vrBase * 1.5625, //25px
  s: $vrBase * 2.5, //40px
  m: $vrBase * 3.125, //50px
  l: $vrBase * 3.75, // 60px
  xl: $vrBase * 6.25, //100
  xxl: $vrBase * 9.375, //150px
  section: $vrBase * 12.5
);

$navigation: 901px;

$breakpoint-classes: ();

// 3. The Grid
// -----------

$grid-row-width: $global-width;
$grid-column-count: 12;
$grid-column-gutter: (
  tiny: 13.33333333333px,
  tablet-landscape: 30px,
  desktop: 30px,
);

$grid-column-align-edge: true;
$block-grid-max: 12;

$zindex: (
  modal: 30,
  cookie: 29,
  dropdown: 21,
  layout: 20,
  section: 10,
  positive: 1,
  default: 0,
  negative: -10,
);

$fontSizes: (
  "body-small": (12px, 18, $ffHeading, 1px),
  "body": (14px, 26, $ffBody, 1px),
  "h5": (14px, 24, $ffHeading, 1px), //18-18
  "h4": (20px, 30, $ffHeading, 1px), // 18px, 26
  "h3": (40px, 40, $ffHeading, 1px), //20-30
  "h2": (60px, 60, $ffHeading, 0), //60-60
  "h1": (90px, 90, $ffHeading, 0), //90-90
);
