.calculator {
  padding-top: 100px;

  &__wrapper {
    padding: 46px 56px 30px 56px;
    border-radius: 8px;
    border: 1px solid $cGrey-200;
    background-color: $cWhite;
    overflow: hidden;
  }

  &__items {
    align-items: flex-end;
  }

  &__item {
    margin: 30px 0;
    max-width: 90%;
  }

  &__item label {
    display: block;
    margin-bottom: 10px;
  }

  &__body {
    margin-top: 17px;
  }

  &__bottom {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
    padding-top: 30px;

    &::before {
      display: block;
      @include position(absolute, 0 -100px null -100px);
      content: '';
      height: 1px;
      background-color: #dee0ea;
    }
  }

  &__final-price {
    color: $cPurple;
    font-size: 23px;
    font-weight: 500;
  }

  &__radios {
    margin-top: -5px;
    margin-bottom: -5px;
  }

  .radio {
    margin-top: 5px;
    margin-bottom: 5px;

    &:not(:last-child) {
      margin-right: 10px;
    }
  }

  @include breakpoint(tablet-portrait down) {
    &__wrapper {
      padding: 25px 30px;
    }
  }

  @include breakpoint(660px down) {

    &__wrapper {
      padding-left: 25px;
      padding-right: 25px;
    }

    &__item {
      max-width: none;
    }

    &__bottom {
      flex-direction: column;
    }

    &__bottom-right {
      margin-top: 30px;
    }

    &__body .column {
      @include flex-grid-column(12, false);
    }

    &__radios {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
  }

}
