.card {
  background-color: $cPurple-100;
  border-radius: 21px;
  padding: 30px 25px;
  height: 100%;
  text-align: center;

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 58px;
    height: 100%;
  }

  &__icon svg {
    height: auto;
  }

  &__icon path {
    fill: $cPurple;
  }

  &__label {
    margin-top: 28px;
    color: #4c324c;
  }
}
