.car-info {
  padding-top: 62px;
}

.car-info {
  padding-top: 62px;
}


.card-info-items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  grid-gap: rem-calc(28px);
}

.card-info-item__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #E8ECF5;
  border-bottom-left-radius: rem-calc(10px);
  border-bottom-right-radius: rem-calc(10px);
  overflow: hidden;
  padding: rem-calc(24px);
}

.card-info-item {
  position: relative;
  height: 100%;
}

.card-info-item .badge {
  position: absolute;
  top: 14px;
  left: 16px;
  background-color: #CCD3E2;
  border-radius: 8px;
  padding: 0 8px;
  z-index: 2;
  line-height: 1;
  border: none;
}

.card-info-item__headline {
  color: #7E047F;
}

.card-info-item__body {
}

.card-info-item--special {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  background-color: #F3E9F3;
  border-radius: rem-calc(10px);
  overflow: hidden;

  &::before {
    position: absolute;
    inset: 0;
    content: '';
    display: block;
    width: 110%;
    height: 110%;
    opacity: 0;
    z-index: 2;
    box-shadow: 0 2px 11px 10px rgba(33, 33, 33, .2);
    pointer-events: none;
  }

  &:hover {
    cursor: pointer;

    &::before {
      opacity: 1;
    }
  }

  @include breakpoint(phone down) {
    display: none;
  }

}

.card-info-item--special .card-info-item__headline {
  margin-top: rem-calc(24px);
  max-width: 215px;
  text-align: center;
}
