.contact {
  padding-top: 90px;

  &__wrapper {
    padding: 45px 50px;
    border: 1px solid $cGrey-200;
    border-radius: 8px;
    text-align: left;
  }

  &__subheadline {
    text-align: left;
    margin-bottom: 21px;
    color: $cPurple;
  }

  &__item + &__item {
    margin-top: 45px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  &__item a {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-family: $ffBody;
    font-size: 23px;
    font-weight: 700;
    text-decoration: underline;
    color: $cPurple;

    &:hover {
      text-decoration: none;

    }
  }

  &__item .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    @include size(35px);
    background-color: $cPurple;
  }

  &__item a span {
    padding-left: 13px;
  }

  &__item a + a {
    margin-top: 11px;
  }

  .map-wrapper {
    position: relative;
    height: 100%;
    border-radius: 8px;
    overflow: hidden;
  }

  &__image {
    max-width: 487px;
    aspect-ratio: 487/368;
    width: 100%;
  }

  @include breakpoint(tablet-portrait down) {
    &__wrapper {
      padding: 25px 30px;
    }

    &__wrapper .column {
      @include flex-grid-column(12, false);

      &:nth-child(2) {
        margin-top: 30px;
      }

    }

  }

  @include breakpoint(tiny down) {
    &__wrapper {
      padding-left: 10px;
      padding-right: 10px;
    }
  }

}

#map {
  @include position(absolute, 0);
  @include size(100%)
}
