.contact-form {
  margin-top: 60px;
  position: relative;

  &__wrapper {
    padding: 37px 73px;
    margin-top: 37px;
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
  }

  .inputs {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
  }

  .input,
  .textarea {
    border: none;
    box-shadow: none;
    padding: 0;
  }

  .textarea {
    margin-top: 1.25rem;
    width: 100%;
  }

  select,
  input {
    border: 1px solid rgba(204, 204, 204, 1);
    box-shadow: none;
    min-height: 49px;
    margin-top: 8px;
    padding-inline: 1.1875rem;
    color: $cBlack;
    border-radius: 10px;
    appearance: none;
    background-color: $cWhite;
  }

  input[type="datetime-local"]::-webkit-date-and-time-value {
    text-align: left;
  }

  input:focus {
    outline: none;
  }

  .input {
    display: flex;
    flex-direction: column;
  }

  &__button {
    margin-top: 0;
  }

  .success-message {
    position: absolute;
    inset: 0;
    background-color: white;
    z-index: 20;
    height: 100%;
  }

  .success-message .row,
  .success-message .column {
    height: 100%;
  }

  .success-message__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  @include breakpoint(small down) {
    &__wrapper {
      padding: 1rem;
    }
  }
}
