.rules {
  padding-top: 80px;

  &__left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    @include flex-grid-column(5,false);
  }

  &__paragraph {
    max-width: 388px;
    margin-bottom: 30px;
    width: 100%;
  }

  &__cards {
    margin-top: -9px;
    margin-bottom: -9px;
  }

  &__card {
    @include flex-grid-column(4,20px);
    margin-top: 9px;
    margin-bottom: 9px;
  }

  &__cta {
    margin-top: auto;
  }

  @include breakpoint(1023px down) {
    &__card {
      @include flex-grid-column(6,false);
    }
  }

  @include breakpoint(tablet-portrait down) {
    &__left {
      order: 2;
      @include flex-grid-column(12,false);
      margin-top: 30px;
    }

    &__card {
      @include flex-grid-column(4,false);
    }

    &__paragraph {
      max-width: none;
    }
  }

  @include breakpoint(phone down) {
    &__card {
      @include flex-grid-column(6,false);
    }
  }

  @include breakpoint(tiny down) {
    &__card {
      @include flex-grid-column(12,false);
    }

  }

}
