.visual {
  background-color: $cGrey-500;
  padding-bottom: rem-calc(60px);
  height: auto;

  &__row {
    justify-content: center;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 40px;
  }

  &__column {
    @include flex-grid-column(8.4, false);
  }

  &__perex {
    margin-top: 35px;
  }

  &__buttons {
    width: auto;
    margin-top: 58px;
    margin-left: -7px;
    margin-right: -7px;
  }

  .button {
    margin-left: 7px;
    margin-right: 7px;
  }

  @include breakpoint(tablet-portrait down) {

    &__row {
      padding-top: 0;
      padding-bottom: 50px;
    }
  }

  @include breakpoint(phone down) {
    .button,
    &__buttons {
      margin-left: 0;
      margin-right: 0;
    }

    .button + .button {
      margin-top: 10px;
    }
  }

}
