<template>
  <div id="calculator" class="calculator">
    <v-headline :content="{ headline: 'Kalkulačka<br/>ceny pronájmu' }"/>

    <div class="row">
      <div class="column">
        <div class="calculator__wrapper">
          <div class="calculator__head">
            <v-typo variant="h4">Výběr vozidla</v-typo>
          </div>

          <div class="calculator__body">
            <div class="calculator__radios">
              <div class="radio">
                <input
                  id="1"
                  ref="male-auto"
                  v-model="car"
                  name="carSelect"
                  value="male-auto"
                  type="radio"
                  class="radio__input"
                />
                <v-typo element="label" for="1" variant="small"
                >Malé auto
                </v-typo>
              </div>

              <div class="radio">
                <input
                  id="2"
                  ref="stredni-auto"
                  v-model="car"
                  name="carSelect"
                  value="stredni-auto"
                  type="radio"
                  class="radio__input"
                />
                <v-typo element="label" for="2" variant="small"
                >
                  Střední auto
                </v-typo>
              </div>

              <div class="radio">
                <input
                  id="3"
                  ref="dodavka-9-mist"
                  v-model="car"
                  name="carSelect"
                  value="dodavka-9-mist"
                  type="radio"
                  class="radio__input"
                />
                <v-typo element="label" for="3" variant="small"
                >Dodávka 9 míst
                </v-typo>
              </div>

              <div class="radio">
                <input
                  id="4"
                  ref="stredni-dodavka"
                  v-model="car"
                  name="carSelect"
                  value="stredni-dodavka"
                  type="radio"
                  class="radio__input"
                />
                <v-typo element="label" for="4" variant="small"
                >Střední dodávka
                </v-typo>
              </div>

              <div class="radio">
                <input
                  id="5"
                  ref="velka-dodavka"
                  v-model="car"
                  name="carSelect"
                  value="velka-dodavka"
                  type="radio"
                  class="radio__input"
                />
                <v-typo element="label" for="5" variant="small"
                >Velká dodávka
                </v-typo>
              </div>
            </div>

            <div class="calculator__items row">
              <div class="column">
                <div class="calculator__item">
                  <v-typo element="label" for="rentTime" variant="small"
                  ><strong>Délka pronájmu</strong></v-typo
                  >
                  <v-range-slider
                    id="rentTime"
                    v-model="rentTime"
                    :interval="1"
                    :marks="true"
                    :min="1"
                    :max="30"
                    :tooltip="'always'"
                    :contained="true"
                    @dragging="calcPrice"
                  >
                    <template v-slot:tooltip="{ value }">
                      <div class="custom-tooltip">
                        {{ value }}&nbsp;{{ rentTimeLabel() }}
                      </div>
                    </template>
                    <template v-slot:mark="{ active, value }">
                      <span v-if="value === 1">{{ value }} den</span>
                      <span v-if="value === 30">{{ value }} dní</span>
                    </template>
                  </v-range-slider>
                </div>
              </div>

              <div class="column">
                <div class="calculator__item">
                  <v-typo element="label" for="rentTime" variant="small"
                  ><strong
                  >Počet kilometrů (100 km / den v ceně, dále 1,5 Kč /
                    km)</strong
                  >
                  </v-typo>
                  <v-range-slider
                    id="rentTime"
                    v-model="range"
                    :interval="100"
                    :marks="true"
                    :min="100"
                    :max="5000"
                    :tooltip="'always'"
                    :contained="true"
                    @dragging="calcPrice"
                  >
                    <template v-slot:tooltip="{ value }">
                      <div class="custom-tooltip">{{ value }}&nbsp;km</div>
                    </template>
                    <template v-slot:mark="{ active, value }">
                      <span v-if="value === 100">{{ value }} km</span>
                      <span v-if="value === 5000">{{ value }} km</span>
                    </template>
                  </v-range-slider>
                </div>
              </div>
            </div>
          </div>
          <div class="calculator__bottom">
            <div class="calculator__bottom-left">
              <v-typo :classes="['calculator__final-price']" variant="h5"
              >Celková cena <strong>{{ finalPrice }}&nbsp;</strong>Kč
              </v-typo>
              <v-typo :classes="['']" variant="body">
                Všechny uvedené ceny jsou bez DPH
              </v-typo>
            </div>
            <div class="calculator__bottom-right">
              <v-button v-scroll-to="'#contact'" variant="primary"
              >Pokračovat na kontakt
              </v-button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import {Component, Vue, Watch} from 'vue-property-decorator'

@Component({})
export default class Calculator extends Vue {
  car: string = 'male-auto'
  rentTime: number = 1
  range: number = 100
  finalPrice: number = 0

  @Watch('car')
  changeCarType(oldVal: string, newVal: string) {
    if (newVal !== this.car) {
      this.calcPrice()
    }
  }

  mounted(): void {
    this.calcPrice()
  }

  rentTimeLabel(): string {
    if (this.rentTime === 1) {
      return 'den'
    }
    if (this.rentTime > 1 && this.rentTime < 5) {
      return 'dny'
    }

    return 'dní'
  }

  calcPrice() {
    // This code is not mine.. they told my "copy this"... I am not proud of it..
    let calculatedPrice = 0
    const maximumkm = this.rentTime * 100

    if (this.car === 'male-auto') {
      if (this.rentTime <= 5) {
        calculatedPrice = this.rentTime * 680
      }
      if (this.rentTime > 5 && this.rentTime < 21) {
        calculatedPrice = this.rentTime * 460
      }
      if (this.rentTime > 20) {
        calculatedPrice = this.rentTime * 300
      }
    }

    if (this.car === 'stredni-auto') {
      if (this.rentTime <= 5) {
        calculatedPrice = this.rentTime * 1050
      }
      if (this.rentTime > 5 && this.rentTime < 21) {
        calculatedPrice = this.rentTime * 800
      }
      if (this.rentTime > 20) {
        calculatedPrice = this.rentTime * 520
      }
    }

    if (this.car === 'dodavka-9-mist') {
      if (this.rentTime <= 5) {
        calculatedPrice = this.rentTime * 1490
      }
      if (this.rentTime > 5 && this.rentTime < 21) {
        calculatedPrice = this.rentTime * 1250
      }
      if (this.rentTime > 20) {
        calculatedPrice = this.rentTime * 1150
      }
    }

    if (this.car === 'stredni-dodavka') {
      if (this.rentTime <= 5) {
        calculatedPrice = this.rentTime * 1590
      }
      if (this.rentTime > 5 && this.rentTime < 21) {
        calculatedPrice = this.rentTime * 1150
      }
      if (this.rentTime > 20) {
        calculatedPrice = this.rentTime * 1000
      }
    }

    if (this.car === 'velka-dodavka') {
      if (this.rentTime <= 5) {
        calculatedPrice = this.rentTime * 1690
      }
      if (this.rentTime > 5 && this.rentTime < 21) {
        calculatedPrice = this.rentTime * 1200
      }
      if (this.rentTime > 20) {
        calculatedPrice = this.rentTime * 1050
      }
    }

    let cenaPlus = 0
    this.finalPrice = calculatedPrice

    if (this.range > maximumkm) {
      cenaPlus = (this.range - maximumkm) * 1.5
    }

    this.finalPrice = this.finalPrice + cenaPlus
  }
}
</script>

<style lang="scss">
@import '~/assets/scss/components/Calculator';
@import '~/assets/scss/ui/range-slider';
@import '~/assets/scss/ui/radio';
</style>
