<template>
  <div class="car-info">
    <v-headline
      :classes="['car-info__headline']"
      :content="{ headline: 'Vozový park' }"
    />
    <div class="row">
      <div class="car-info__column column">
        <div class="card-info-items">
          <div v-for="item in items" class="card-info-item">
            <div v-if="item.badge" class="badge">
              <v-typo :classes="['card-info-item__body']" variant="body">
                {{ item.badge }}
              </v-typo>
            </div>
            <v-image
              alt="Image"
              :tiny="item.tiny"
              :classes="['card-info-item__image']"
            />
            <div class="card-info-item__content">
              <v-typo :classes="['card-info-item__headline']" variant="h5">
                {{ item.title }}
              </v-typo>
              <v-typo :classes="['card-info-item__body']" variant="body">
                {{ item.description }}
              </v-typo>
            </div>
          </div>
          <div
            v-scroll-to="'#calculator'"
            class="card-info-item card-info-item--special"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="51"
              height="51"
              fill="none"
              stroke="#7E047F"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              viewBox="0 0 24 24"
            >
              <circle cx="12" cy="12" r="10"/>
              <path d="M12 8v8M8 12h8"/>
            </svg>
            <v-typo :classes="['card-info-item__headline']" variant="h5">
              Pokračovat na kalkulačku ceny&nbsp;→
            </v-typo>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import {Component, Vue} from 'vue-property-decorator'

@Component({})
export default class CarInfo extends Vue {
  activeItem: number = 0
  items: Array<{ [key: string]: string | Object }> = [
    {
      id: 0,
      tiny: {
        default: require('~/assets/images/cars/male-auto.png'),
        retina: require('~/assets/images/cars/male-auto@2x.png')
      },
      title: 'Malé auto',
      description: 'Škoda Fabia nebo podobné'
    },
    {
      id: 1,
      tiny: {
        default: require('~/assets/images/cars/combi.png'),
        retina: require('~/assets/images/cars/combi@2x.png')
      },
      title: 'Střední auto – kombi',
      description: 'Škoda Octavia nebo podobné'
    },
    {
      id: 2,
      tiny: {
        default: require('~/assets/images/cars/9mist.png'),
        retina: require('~/assets/images/cars/9mist@2x.png')
      },
      title: 'Dodávka 9 míst',
      description: 'Fiat Ducato Bus 9 míst nebo podobné'
    },
    {
      id: 3,
      tiny: {
        default: require('~/assets/images/cars/stredni-dodavka.png'),
        retina: require('~/assets/images/cars/stredni-dodavka@2x.png')
      },
      title: 'Střední dodávka',
      description: 'Fiat Ducato L3H2',
      badge: 'délka nákladové plochy 370 cm'
    },
    {
      id: 4,
      tiny: {
        default: require('~/assets/images/cars/velka-dodavka.png'),
        retina: require('~/assets/images/cars/velka-dodavka@2x.png')
      },
      title: 'Velká dodávka',
      description: 'Fiat Ducato Maxi L4H2',
      badge: 'délka nákladové plochy 405 cm'
    }
  ]
}
</script>

<style lang="scss">
@import '~@/assets/scss/components/CarInfo';
</style>
