<template>
  <div id="contact" class="contact">
    <v-headline
      :content="{ headline: 'Chcete si půjčit <br/>dodávku nebo osobní auto?' }"
    />
    <div class="row">
      <div class="column">
        <div class="contact__wrapper">
          <div class="row">
            <div class="column">
              <div class="map-wrapper">
                <div class="map-wrapper__image">
                  <v-image
                    alt="Image"
                    :tiny="map.tiny"
                    :classes="['card-info-item__image']"
                  />
                </div>
              </div>
            </div>
            <div class="column">
              <v-typo :classes="['contact__subheadline']" variant="h5"
              >Kontakty
              </v-typo>
              <div class="contact__item">
                <a href="tel:+420604245505">
                  <v-icon name="ui/phone"/>
                  <span>+420 604 245 505</span>
                </a>
                <a href="mailto:pronajem@driveplzen.cz">
                  <v-icon name="ui/envelope"/>
                  <span>pronajem@driveplzen.cz</span>
                </a>
              </div>

              <div class="contact__item">
                <v-typo variant="h4">Převzetí automobilu</v-typo>
                <v-typo variant="body">
                  <strong>Pod Vrchem 19, 312 00 Plzeň,</strong><br/>
                  nebo podle předchozí domluvy
                </v-typo>
              </div>

              <div class="contact__item">
                <v-typo variant="h4">Provozovatel Drive Plzeň</v-typo>
                <v-typo variant="body">
                  <strong>Kamil Javorský</strong><br/>
                  IČ: 03357571, DIČ: CZ8908192117
                </v-typo>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import {Component, Ref, Vue} from 'vue-property-decorator'

// @ts-ignore
import MapStyles from '~/plugins/MapStyles.json'

@Component({})
export default class Contact extends Vue {
  @Ref('googleMap') readonly googleMap!: HTMLElement

  icon: any = require('~/assets/icons/ui/pin.svg')
  map: { [key: string]: string | Object } = {
    tiny: {
      default: require('~/assets/images/map.jpg'),
      retina: require('~/assets/images/map@2x.jpg')
    }
  }

  locations: Array<{ position: { [key: string]: number } }> = [
    {
      position: {
        lat: 49.7465623,
        lng: 13.4145992
      }
    }
  ]

  async mounted() {
    try {
      // @ts-ignore
      const google = await this.$googleMapInit()
      // const geocoder = new google.maps.Geocoder();
      const map = new google.maps.Map(this.googleMap, {
        zoom: 12,
        center: this.locations[0].position,
        styles: MapStyles
      })

      const markers = this.locations.map((x) => {
        new google.maps.Marker({
          ...x,
          icon: {url: this.icon, scaledSize: new google.maps.Size(29, 40)},
          map
        })
      })
    } catch (error) {
      console.error(error)
    }
  }
}
</script>

<style lang="scss">
@import '~@/assets/scss/components/Contact';
</style>
