<template>
  <div id="contact-form" class="contact-form">
    <v-headline :content="{ headline: 'Online rezervace' }"/>
    <div class="row">
      <div class="column">
        <div style="display: flex; justify-content: center;">
          <v-badge>
            Pro <strong>nejrychlejší ověření dostupnosti</strong> půjčení vozidel volejte <a
            href="tel:+420604245505"><strong>604
            245 505</strong></a> (denně, 8–20)
          </v-badge>
        </div>
        <div class="contact-form__wrapper">
          <form @submit.prevent="submitForm" class="contact-form__form">
            <div class="inputs">
              <fieldset class="input">
                <label for="name">Jméno *</label>
                <input id="name" type="text" placeholder="Jan Novák" v-model="formData.name" required/>
              </fieldset>
              <fieldset class="input">
                <label for="phone">Telefon *</label>
                <input id="phone" type="tel" placeholder="+420 777 888 888" v-model="formData.phone" required/>
              </fieldset>
              <fieldset class="input">
                <label for="address">Bydliště *</label>
                <input id="address" type="text" placeholder="např. Drápalova 26, 312 00 Plzeň"
                       v-model="formData.address" required/>
              </fieldset>
              <fieldset class="input">
                <label for="email">E-mail *</label>
                <input id="email" type="email" placeholder="email@seznam.cz" v-model="formData.email" required/>
              </fieldset>
            </div>
            <div class="inputs">
              <fieldset class="input">
                <label for="birth">Datum narození *</label>
                <input id="birth" type="text" placeholder="ve formátu  10. 12. 1990" v-model="formData.birth" required/>
              </fieldset>
              <fieldset class="input">
                <label for="car">Typ auta *</label>
                <select name="car" id="car" @change="onCarChange">
                  <option value="">Vyberte</option>
                  <option value="Malé auto">Malé auto</option>
                  <option value="Střední auto">Střední auto – kombi</option>
                  <option value="Dodávka 9 míst">Dodávka 9 míst</option>
                  <option value="Střední dodávka">Střední dodávka</option>
                  <option value="Velká dodávka">Velká dodávka</option>
                </select>
              </fieldset>
              <fieldset class="input">
                <label for="reservationStart">Začátek rezervace *</label>
                <input id="reservationStart" type="datetime-local" v-model="formData.reservationStart" required/>
              </fieldset>
              <fieldset class="input">
                <label for="reservationEnd">Konec rezervace *</label>
                <input id="reservationEnd" type="datetime-local" v-model="formData.reservationEnd" required/>
              </fieldset>

            </div>
            <v-typo variant="body">Vaši rezervací potvrdíme (v pracovní době, 8–17) do 60 minut</v-typo>
            <v-button class="contact-form__button" type="submit" variant="primary small">Odeslat formulář</v-button>
          </form>
        </div>
      </div>
    </div>


    <div v-if="successMessage" class="success-message">
      <div class="row">
        <div class="column">
          <div class="success-message__content text-center">
            <v-headline :content="{ headline: 'Děkujeme, vaši žádost o rezervaci<br/>jsme úspěšně přijali' }"/>
            <v-typo
              element="label"
              variant="body-small"
            >
              Vaši rezervací potvrdíme (v pracovní době, 8–17) do 60 minut.
              Pokud s rezervací spěcháte, raději nás kontaktujte <strong>telefonicky na čísle <a
              href="tel:+420604245505">+420
              604
              245 505</a></strong>.
            </v-typo>
          </div>
        </div>
      </div>
    </div>

  </div>
</template>

<script lang="ts">
import {Component, Vue} from 'vue-property-decorator';
import Button from '~/plugins/Button/Button.vue';
import Badge from "~/plugins/Badge/Badge.vue";

@Component({
  components: {
    'v-badge': Badge,
    'v-button': Button,
  },
})
export default class ContactForm extends Vue {
  formData: {
    name: string;
    address: string;
    birth: string;
    email: string;
    phone: string;
    car: string;
    reservationStart: string;
    reservationEnd: string;
  } = {
    name: '',
    address: '',
    birth: '',
    email: '',
    phone: '',
    car: '',
    reservationStart: '',
    reservationEnd: '',
  };

  successMessage: boolean = false;
  errorMessage: string | null = null;

  mounted() {
    // Nastavení výchozího data pro rezervaci
    const today = new Date();
    const tomorrow = new Date(today);
    tomorrow.setDate(tomorrow.getDate() + 1);

    // Formátování data do podoby vhodné pro input type datetime-local
    const formatDateTime = (date: Date): string => {
      const yyyy = date.getFullYear();
      const mm = String(date.getMonth() + 1).padStart(2, '0');
      const dd = String(date.getDate()).padStart(2, '0');
      const hh = '00';
      const min = '00';
      return `${yyyy}-${mm}-${dd}T${hh}:${min}`;
    };

    // Nastavení výchozích hodnot pro rezervaci
    this.formData.reservationStart = formatDateTime(today);
    this.formData.reservationEnd = formatDateTime(tomorrow);

  }

  // Method to handle change event on select element
  onCarChange(event: any) {
    if (!event.target?.options) {
      return
    }
    this.formData.car = event.target.options[event.target.options.selectedIndex].value;
  }


  submitForm() {
    try {
      // Validate form data here if needed

      if (
        !this.formData.name ||
        !this.formData.address ||
        !this.formData.birth ||
        !this.formData.email ||
        !this.formData.phone ||
        !this.formData.car ||
        !this.formData.reservationStart ||
        !this.formData.reservationEnd
      ) {
        return;
      }

      // Create a new XMLHttpRequest object
      const xhr = new XMLHttpRequest();

      // Configure the request
      xhr.open('POST', '/sendEmail.php', true);
      xhr.setRequestHeader('Content-Type', 'application/json');


      // Handle the response
      xhr.onload = () => {
        if (xhr.status === 200) {
          this.successMessage = true;
          this.errorMessage = null;
          // Clear the form data
          this.formData = {
            name: '',
            address: '',
            birth: '',
            email: '',
            phone: '',
            car: '',
            reservationStart: '',
            reservationEnd: '',
          };
          // Redirect to the "kontakt" page programmatically
          // this.$router.push({path: '/kontakt'});

          setTimeout(() => {
            this.successMessage = false
          }, 4000)

        } else {
          this.successMessage = false;
          this.errorMessage = 'Error sending email. Please try again later.';
          console.error('Error sending email:', xhr.statusText);
        }
      };

      // Handle network errors
      xhr.onerror = () => {
        this.successMessage = false;
        this.errorMessage = 'Network error. Please try again later.';
        console.error('Network error occurred while sending email.');
      };
      xhr.send(JSON.stringify(this.formData));

    } catch (error) {
      console.error('Error sending email:', error);
      this.successMessage = false;
      this.errorMessage = 'Error sending email. Please try again later.';
    }
  }
}
</script>

<style lang="scss">
@import '~@/assets/scss/components/ContactFrom';
</style>
