<template>
  <div class="rules" id="rules">
    <v-headline
      :content="{headline: 'Podmínky půjčení'}"
    />
    <div class="rules__row row">
      <div class="rules__left column">
        <v-typo
          :classes="['rules__paragraph']"
          variant="body"
        >
          Automobil předáváme vždy s&nbsp;plnou nádrží, ve kterém jej předáváte i&nbsp;vy. V opačném případě bude
          doúčtována částka za spotřebované pohonné hmoty.
          Vozidla jsou vždy <b>čistá, v&nbsp;řádném technickém stavu</b>, připravené na <b>jízdy i&nbsp;do zahraničí</b>.
          Půjčte si <b>spolehlivou dodávku či automobil</b>, krátkodobě i&nbsp;dlouhodobě.
        </v-typo>
        <v-button :classes="['rules__cta']" variant="primary" v-scroll-to="'#calculator'">Spočítat si cenu pronájmu
        </v-button>
      </div>
      <div class="rules__right column">
        <div class="rules__cards row">
          <div
            v-for="box in boxes"
            class="rules__card column"
          >
            <div class="card">
              <v-icon class="card__icon" :name="box.icon"/>
              <v-typo :classes="['card__label']" element="p" variant="small" v-html="box.label"/>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import {Component, Vue} from 'vue-property-decorator';

@Component({})
export default class Rules extends Vue {
  boxes: Array<{ [key: string]: string }> = [
    {
      icon: 'steps/1',
      label: 'Stačí vám doklad totožnosti - <strong>občanský průkaz</strong> nebo <strong>pas</strong>'
    },
    {
      icon: 'steps/2',
      label: 'K řízení vám stačí řidičský průkaz skupiny B'
    },
    {
      icon: 'steps/3',
      label: 'Vratná kauce 10 000 Kč na úhradu případné spoluúčasti'
    },
    {
      icon: 'steps/4',
      label: 'V ceně pojištění odpovědnosti vozidla (povinné ručení)'
    },
    {
      icon: 'steps/5',
      label: 'Havarijní pojištění pro autopůjčovny pro ČR a zemích EU'
    },
    {
      icon: 'steps/6',
      label: 'V ceně vozidla platná dálniční známka pro ČR'
    }
  ]
}
</script>

<style lang="scss">
@import "~@/assets/scss/components/Rules";
@import "~@/assets/scss/components/Card";
</style>
