<template>
  <div class="visual">
    <div class="visual__row row">
      <div class="visual__column column">
        <v-typo :classes="['visual__headline']" variant="h1">
          Jsme ověřená půjčovna dodávek a&nbsp;aut v&nbsp;Plzni a&nbsp;okolí.
        </v-typo>
        <v-typo variant="body" :classes="['visual__perex']">
          Máme širokou nabídku dodávek a&nbsp;aut ke krátkodobému i&nbsp;dlouhodobého pronájmu. <br> Naši zákazníci nás
          chválí za
          rychlou rezervaci a&nbsp;vždy čisté a&nbsp;technicky bezproblémové dodávky i&nbsp;osobní automobily.
        </v-typo>

        <div class="visual__buttons">
          <v-button v-scroll-to="'#calculator'" variant="primary">
            Kolik stojí půjčení?
          </v-button>

          <v-button v-scroll-to="'#contact'" variant="outline">
            Kontaktovat
          </v-button>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import {Component, Vue} from 'vue-property-decorator'

@Component({})
export default class Visual extends Vue {
}
</script>

<style lang="scss">
@import '~@/assets/scss/components/Visual';
</style>
