.cookie-bar {
	background: $cWhite;
	width: 100%;
	color: $cBlack;

	@include padding(0.625em null);

	&__wrapper {
		@include position(fixed, null 0 0 0);
		z-index: 9999;
		transform: translateY(100%);
	}

	&__container {
		@include flex-grid-row;
		@include padding(null rem-calc(10));
	}

	&__text {
		@include flex-grid-column;
		align-self: center;
		font-size: rem-calc(18px);
		@include font-size(18px);
	}

	&__controls {
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
		padding-left: 10px;
		margin: 0 0 0 auto;
	}

	&__link {
		color: $cPrimary;
		text-decoration: underline;
		white-space: nowrap;
	}

	.button {
		@include padding(12px null);
	}

	@include breakpoint(phone down) {
		&__container {
			flex-direction: column;
		}
		&__controls {
			margin-top: 15px;
		}
	}
}
