.footer {
  padding-top: 90px;
  background-color: $cWhite;

  &__wrapper {
    background-color: #191919;
    padding: 35px 10px;
    text-align: center;
  }

  small {
    color: $cWhite;
    font-size: 15px;
    font-weight: bold;
  }
}
