.header {
  $this: &;
  position: relative;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: $cGrey-500;
  z-index: 100;

  &__column {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    display: flex;
    align-items: center;
    text-decoration: none;
  }

  &__logo-svg {
    margin-right: 16px;
    max-width: 280px;
  }

  &__logo-svg path {
    transition: fill $tdDefault ease-in-out;
  }

  &__logo-wrapper {
    strong, span {
      display: block;
      transition: color $tdDefault ease-in-out;
    }

    strong {
      color: #0b0146;
    }

    span {
      margin-top: 5px;
      color: #2b2b2b;
    }
  }


  &__call {
    display: inline-flex;
    align-items: center;
    background-color: $cGreen-200;
    border: 1px solid $cGreen-100;
    padding: 16px 20px;
    border-radius: 20px;
    margin-left: auto;
    margin-right: 10%;
  }

  &__call-svg {
    display: flex;
    align-items: center;
    justify-content: center;
    @include size(35px);
    background-color: $cGreen-100;
    border-radius: 50%;
  }

  &__call-body {
    padding-left: 16px;
  }

  &__call small {
    display: block;
    color: $cGreen-100;
    font-family: $ffBody;
    font-size: 14px;
    font-weight: 400;
    padding-top: 5px;
  }

  &__call-link {
    color: $cGreen-100;
    font-family: $fwMedium;
    font-size: 19px;
    font-weight: 700;
    text-decoration: none;
  }

  &__ul {
    display: flex;
    align-items: center;
    padding-left: 0;
    list-style: none;
    margin-left: -25px;
    margin-right: -25px;
  }

  &__li {
    padding-left: 25px;
    padding-right: 25px;
  }

  &__li a {
    position: relative;
    font-family: $ffBody;
    color: $cBlue;
    font-size: 18px;
    font-weight: 500;
    line-height: 32.5px;
    text-decoration: none;
    padding-bottom: 10px;
    overflow: hidden;

    &::before,
    &::after {
      @include position(absolute, null 0 0 0);
      @include size(100%, 2px);
      content: '';
    }

    &::before {
      background-color: $cGrey-400;
    }

    &::after {
      background-color: $cPurple;
      transform: scaleX(0);
      transform-origin: left center;
      transition: transform $tdDefault ease-in-out;
    }

    &:hover {
      color: $cPurple;

      &::after {
        transform: scaleX(1);
      }
    }

  }

  &__trigger {
    display: none;
    position: relative;
    @include size(20px, 14px);
    cursor: pointer;
    z-index: 100;
    transition: background-color $tdDefault ease-in-out;

    &--top,
    &--bottom {
      position: absolute;
      display: block;
      content: '';
      @include size(20px, 2px);
      background-color: $cPrimary;
    }

    &--top {
      top: 0;
      left: 0;
    }

    &--bottom {
      bottom: 0;
      left: 0;
    }

  }


  @include breakpoint(1023px down) {
    &__call {
      display: none;
    }

  }

  @include breakpoint(tablet-portrait down) {

    &__logo-svg {
      max-width: 200px;
    }

    &__trigger {
      display: block;
    }

    &__logo {
      z-index: 5;
    }

    &__ul {
      @include position(fixed, 0);

      visibility: hidden;
      opacity: 0;
      transition: opacity $tdDefault ease-in-out;
      z-index: 4;
    }

    html.is-open & {
      #{$this}__ul {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        visibility: visible;
        opacity: 1;
        background-color: $cPrimary;
      }

      #{$this}__li {
        padding-bottom: 20px;
      }

      #{$this}__li a {
        color: $cWhite;

        &:before,
        &:after {
          content: none;
        }

        &:focus {
          color: $cPurple;
        }

      }

      #{$this}__logo-svg path {
        fill: $cWhite;
      }

      #{$this}__logo-wrapper {
        strong, span {
          color: $cWhite;
        }
      }

      #{$this}__trigger--top,
      #{$this}__trigger--bottom {
        background-color: $cWhite;
      }

    }

  }
  
  @include breakpoint(phone down) {
    &__logo-svg {
      max-width: 150px;
    }
  }

}
