<template>
	<div
    :class="classList"
  >
    <div class="row">
      <div class="column text-center">
        <v-typo
          :variant="variant"
          element="h2"
          v-html="content.headline"
        />
      </div>
    </div>
	</div>
</template>

<script lang="ts">
  import {Vue, Component, Prop} from 'vue-property-decorator';

	@Component({})
	export default class Headline extends Vue {
    @Prop({default: () => ([])}) readonly classes!: string[];
    @Prop({required: true}) readonly content!: { headline: string; paragraph?: string; };
    @Prop({required: false, default: 'h2'}) readonly variant!: string;


    get classList(): Array<string | null> {
      return [
        'headline',
        ...(this.classes || [])
      ];
    }

	}
</script>

<style lang="scss">
  @import "./Headline";
</style>
