<template>
	<component
		ref="typoRef"
		:class="classList"
		:is="componentElement"
		:style="styleList"
	>
		<slot></slot>
	</component>
</template>

<script lang="ts">
	import {Component, Prop, Ref, Vue} from 'vue-property-decorator';

	type TypoVariant =
		'h1'
		| 'h2'
		| 'h3'
		| 'h4'
		| 'h5'
		| 'body'
		| 'button'
		| 'small'
		| 'phone'
		| 'nav';

	@Component({})
	export default class Typo extends Vue {
		@Prop({required: true}) readonly variant!: TypoVariant;
		@Prop({default: () => ([])}) readonly classes!: string[];
		@Prop({default: () => ({})}) readonly styles!: CSSStyleDeclaration;
		@Prop() readonly element!: string;

		@Ref('typoRef') readonly typo!: HTMLButtonElement;

		spt: any;

		availableVariants: string[] = [
			'h1',
			'h2',
			'h3',
			'h4',
			'h5',
			'body',
			'button',
			'nav',
			'small',
			'phone',
		];

		get componentElement(): string {
			if (this.element) {
				return this.element;
			}

			if (this.availableVariants.indexOf(this.variant) < 0) {
				console.error(`Typo: variant '${this.variant}' is not supported. Available variants: \n`, [...this.availableVariants]);

				return 'div';
			}

			switch (this.variant) {
				case 'h1':
				case 'h2':
				case 'h3':
				case 'h4':
				case 'h5':
					return this.variant;
				case 'body':
					return 'p';
				case 'button':
				case 'nav':
				case 'small':
				case 'phone':
					return 'span'
			}
		}

		get classList(): Array<string | null> {
			return [
				'typo',
				`typo--${this.variant}`,
				...(this.classes || [])
			];
		}

		get styleList(): CSSStyleDeclaration | null {
			return this.styles ? {...this.styles} : null;
		}
	}
</script>

<style lang="scss">
	@import './Typo';
</style>
