@import '~/assets/scss/core/_core';


.typo {

  &--h1,
  &--h2,
  &--h3,
  &--h4,
  &--h5 {
    font-family: $ffHeading;
    font-weight: $fwBold;
    color: $cPrimary;
    line-height: 1.2;
    margin: 0;
  }

  &--h1 {
    font-size: 55px;
    font-weight: 700;
    line-height: 1.2401818182;
    letter-spacing: -2.42px;

    @include breakpoint(phone down) {
      font-size: 35px;
    }

  }

  &--h2 {
    font-size: 45px;
    font-weight: 700;
    line-height: 1.2444444444;
    @include breakpoint(phone down) {
      font-size: 31px;
    }
  }

  &--h3 {
    font-size: 27px;
    @include breakpoint(phone down) {
      font-size: 19px;
    }

  }

  &--h4 {
  }

  &--h5 {
    font-size: 20px;
    line-height: 1.325;
  }

  &--body {
    font-size: 17px;
    font-weight: 400;
    line-height: 1.6470588235;
  }

  &--small {
    font-size: 15px;
    line-height: 1.34375;
  }

  &--button {
    font-size: 17px;
    font-weight: $fwBold;
    line-height: 1.4;

  }
}
