@import '~/assets/scss/core/_core';

.icon {
	@include position(relative, null);
	line-height: 0;

	&--btn-left {
		@include position(absolute, 50% null null -40px);
		transform: translateY(-50%);
	}

	&--loading-dots {
		svg {
			@for $i from 1 through 3 {
				path:nth-child(#{$i}) {
					animation: 1s icon-loading-dot #{$i * 0.3s} cubic-bezier(.1, .35, .9, .65) infinite;
				}
			}
		}
	}

	&--rotating {
		animation: 1.5s rotate cubic-bezier(.1, .35, .9, .65) infinite;
	}
}

@keyframes icon-loading-dot {
	0%, 100% {
		opacity: 1;
	}

	50% {
		opacity: 0
	}
}

@keyframes rotate {
	from {
		transform: rotate(0);
	}

	to {
		transform: rotate(360deg);
	}
}
