<template>
	<div
		:class="['icon', variant ? `icon--${variant}` : null, ...classes]"
		:data-svg="require(`@/assets/icons/${name}.svg`)"
		ref="icon"
	></div>
</template>

<script lang="ts">
	import {Component, Prop, Vue, Watch} from 'vue-property-decorator';

	@Component({})
	export default class Icon extends Vue {
		@Prop({default: () => ([])}) readonly classes!: Array<string>;
		@Prop({required: true}) readonly name!: string;
		@Prop({default: null}) readonly variant!: string | null;

		cache: Map<string, string> = new Map();

		$refs!: { icon: HTMLElement };

		@Watch('name')
		async onNameChanged(newName: string): Promise<void> {
			await this.fetchIcon(newName);
		}

		async mounted(): Promise<void> {
			if (typeof window === 'undefined') {
				return;
			}

			await this.fetchIcon();
		}

		async fetchIcon(name: string | null = null): Promise<void> {
			const iconName: string = name || this.name;

			try {
				await this.cache.set(iconName, await fetch(require(`~/assets/icons/${iconName}.svg`)).then((icon: any) => icon.text()));
			} catch (error) {
				await this.cache.delete(iconName);
			}

			if (this.cache.has(iconName) && this.$refs.icon) {
				this.$refs.icon.innerHTML = await this.cache.get(iconName) || '';
			}
		}
	}
</script>

<style lang="scss">
	@import './Icon';
</style>
