.input {
	$this: &;
	display: flex;
	flex-direction: column;
	width: 100%;

	&__inner {
		position: relative;
		display: inline-flex;
		transition: border $tdDefault ease-in-out;
	}

	&__suffix {
		align-self: center;
		padding: 0 20px;
		transition: transform $tdDefault ease-out;
	}

	// Modificators
	&--focus,
	&--error,
	&--dirty {

		#{$this}__inner {
			border-color: $cPrimary;
		}

		#{$this}__label {
			transform: translate(0, -50px) scale(1);
		}

		#{$this}__suffix {
			transform: translateY(10px);
		}

	}

	&--error {
		#{$this}__inner {
			border-color: $cRed;
		}

		#{$this}__error {
			color: $cRed;
		}
	}

	&--success {
		#{$this}__inner {
			border-color: $cSecondary;
		}

		#{$this}__error {
			color: $cSecondary;
		}
	}

	&--disabled {

		#{$this}__inner,
		#{$this}__item {
			border-color: $cGrey-100;
			cursor: not-allowed;
		}

		.typography {
			color: $cGrey-100;
		}
	}

	&--password {

		#{$this}__item {
			padding-right: 55px;
		}

		#{$this}__eye {
			@include position(absolute, 50% 21px null null);
			@include size(20px, 14px);
			background-image: url("/icons/ui/eye.svg");
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center center;
			transform: translateY(-50%);
			cursor: pointer;
		}
	}

	// Elements
	&__label {
		@include position(absolute, 50% null null 20px);
		transform: translateY(-50%);
		transform-origin: left center;
		transition: transform $tdDefault ease-out, top $tdDefault ease-out;
		pointer-events: none;
		font-weight: $fwBold;
		font-family: $ffHeading;
		font-size: 10px;
		color: $cGrey-300;
		letter-spacing: 2px;
		text-transform: uppercase;
	}

	&__item {
		width: 100%;
		padding: 15px 20px 17px 20px;
		margin: 0;
		appearance: none;
		border: none;
		background-color: $cGrey-500;

		font-family: $ffHeading;
		font-size: 12px;
		line-height: 1.5;
		letter-spacing: 0;
		font-weight: $fwMedium;
		color: $cBlue-100;
		transition: background-color $tdDefault ease-in-out;

		&[type=number]::-webkit-inner-spin-button,
		&[type=number]::-webkit-outer-spin-button {
			appearance: none;
			margin: 0;
		}

		&:focus {
			outline: none;
			background-color: #E5E6E4;
		}
	}

	&__error {
		display: block;
		overflow: hidden;

		&-container {
			display: block;

			.typography {
				padding: 7px 0 7px 15px;
			}
		}
	}

	.roll-enter-active,
	.roll-leave-active {
		transition: height .8s cubic-bezier(0.9, 0.1, 0.1, 0.9);

	}
}

@keyframes labelAnimation {
	0% {
		transform: scale(0);
	}
	50% {
		transform: translateY(calc(-100% - 10px));
	}
	100% {
		transform: scale(1);
	}
}
