<template>
	<div
		:class="[...classList]"
		:style="styleList"
	>
		<div class="input__inner">
			<v-typo
				:classes="['input__label']"
				element="label"
				v-html="label"
				v-if="variant !== 'custom'"
				variant="body-small"
			/>
			<input
				:disabled="disabled"
				:required="validation ? validation.indexOf('required') > -1 : false"
				:type="forcedType ? forcedType : type ? type : 'text'"
				@blur="handleFocusOut"
				@focus="handleFocusIn"
				@input="handleChange"
				@keydown.enter="() => onEnter()"
				class="input__item"
				v-model="value"
			>

			<v-typo
				:classes="['input__suffix']"
				v-html="suffix"
				v-if="suffix"
				variant="small"
			/>

			<div
				@mousedown="showPassword"
				@mouseup="hidePassword"
				class="input__eye"
				v-if="type === 'password'"
			></div>
		</div>

		<div
			class="input__error"
			ref="errorMessage"
		>
			<transition
				@after-enter="errorAnimationAfterEnter"
				@enter="errorAnimationEnter"
				@leave="errorAnimationLeave"
				name="roll"
			>
				<div
					class="input__error-container"
					ref="errorPerex"
					v-if="errorMessage[0]"
				>
					<v-typo
						v-html="errorMessage[0]"
						variant="small"
					/>
				</div>
			</transition>
		</div>
	</div>
</template>

<script lang="ts">
	import {Component, Prop, Vue, Watch} from 'vue-property-decorator';
	import {LocaleMessage} from 'vue-i18n';

	@Component({})
	export default class Input extends Vue {
		@Prop({default: null}) readonly variant?: string | null;
		@Prop({default: null}) readonly type?: string | null;
		@Prop({default: false}) readonly disabled?: boolean;
		@Prop({default: () => ([])}) readonly validation?: Array<string>;
		@Prop({default: () => ({})}) readonly onEnter?: Function;
		@Prop({default: null}) readonly suffix?: string | null;

		@Prop() readonly styles?: CSSStyleDeclaration;
		@Prop() readonly classes?: Array<string>;
		@Prop() readonly label?: string;

		//@ts-ignore
    $refs: {
      errorMessage: HTMLElement;
      errorPerex: HTMLElement;
    };

		isValid: boolean | null = null;
		isDirty: boolean = false;
		isFocus: boolean = false;
		validateOnChange: boolean = false;
		value: string = '';
		errorMessage: Array<string | null> = [];

		forcedType: string | null = null;


		validationRules: { [key: string]: RegExp } = {
			required: /([^\s])/g,
			email: /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/g,
			phone: /^\+?[0-9]{8,13}$/g,
			number: /^[0-9]*$/g,
			cpr: /^[0-9]{10}$/g,
			password: /(?=.*[A-Z])(?=.*[0-9])/g,
			bankCode: /^[0-9]{4}$/g,
			bankNumber: /^[0-9]*$/g
		};

		validationValueRules: { [key: string]: Function } = {
			maxLength: (value: number) => `^(.{${value + 1}})`,
			minLength: (value: number) => `^(?!.{${value},}).*$`
		};

		get errorMessages(): { [key: string]: Function } {
			return {
				required: (): LocaleMessage => this.$t('global.error.fields.required'),
				email: (): LocaleMessage => this.$t('global.error.fields.email'),
				phone: (): LocaleMessage => this.$t('global.error.fields.phone'),
				number: (): LocaleMessage => this.$t('global.error.fields.number'),
				cpr: (): LocaleMessage => this.$t('global.error.fields.cpr'),
				password: (): LocaleMessage => this.$t('global.error.fields.password'),
				bankCode: (): LocaleMessage => this.$t('global.error.fields.bankCode'),
				bankNumber: (): LocaleMessage => this.$t('global.error.fields.bankNumber'),
				maxLength: (value: number, fieldValue: string): LocaleMessage => this.$t('global.error.fields.maxLength', {
					current: fieldValue.length,
					limit: value
				}),
				minLength: (value: number): LocaleMessage => this.$t('global.error.fields.minLength', {value})
			};
		};

		get classList(): Array<string | null> {
			return [
				'input',
				`input--${this.type}`,
				(this.isValid !== null && !this.isValid) ? 'input--error' : null,
				this.isFocus ? 'input--focus' : null,
				...(this.classes || [])
			];
		}

		get styleList(): CSSStyleDeclaration | null {
			return this.styles ? {...this.styles} : null;
		}

		@Watch('value')
		onValueChanged(newValue: string | number): void {
			this.$emit('input', newValue);
		}

		validate() {
			this.isValid = this.validateConditions().every((condition: boolean) => condition);
			return this.isValid;
		}

		showPassword() {
			this.forcedType = 'text';
		}

		hidePassword() {
			this.forcedType = 'password';
		}

		validateConditions(): Array<boolean> {
			const validations = this.validation!.map((rule: string): boolean => {

				const [ruleName, ruleValue] = rule.split('|');

				let matched = this.value.match(this.validationRules[ruleName]);

				if (ruleValue) {
					let matched = new RegExp(this.validationValueRules[ruleName](parseInt(ruleValue)), 'g');
					return !this.value.match(matched);
				}
				return !!(matched !== null && matched.length);
			});

			this.errorMessage = validations!.map((valid, validIndex): string | null => {
				if (valid) return null;
				const [ruleName, ruleValue] = this.validation![validIndex].split('|');
				return this.errorMessages[ruleName](ruleValue, this.value);
			}).filter((item) => item !== null);

			return validations;
		}

		handleFocusIn() {
			this.isFocus = true;
		}

		handleFocusOut() {
			this.validateOnChange = this.isDirty;
			this.isFocus = (!!this.value.length && this.isDirty);
			(this.isDirty && this.validation!.length) ? this.validate() : null;
		}

		handleChange() {
			this.isDirty = true;
			this.isFocus = (this.value.length >= 0 && this.isDirty);

			(this.isDirty && this.validateOnChange) ? this.validate() : null;
		}

		errorAnimationEnter(element: HTMLElement) {
			element.style.height = 'auto';
			const height = getComputedStyle(element).height;

			element.style.height = '0';
			getComputedStyle(element).height;

			setTimeout(() => {
				element.style.height = height;
			});
		}

		errorAnimationAfterEnter(element: HTMLElement) {
			element.style.height = 'auto';
		}

		errorAnimationLeave(element: HTMLElement) {
			element.style.height = getComputedStyle(element).height;

			getComputedStyle(element).height;

			setTimeout(() => {
				element.style.height = '0';
			});
		}
	}
</script>


<style lang="scss">
	@import "~@/plugins/Input/Input.scss";
</style>
