<template>
  <div class="page-wrapper">
    <v-header/>
    <nuxt/>
    <v-footer/>

    <!--    &lt;!&ndash; Load Facebook SDK for JavaScript &ndash;&gt;-->
    <!--    <div id="fb-root"></div>-->
    <!--    <script>-->
    <!--      window.fbAsyncInit = function() {-->
    <!--        FB.init({-->
    <!--          xfbml            : true,-->
    <!--          version          : 'v7.0'-->
    <!--        });-->
    <!--      };-->
    <!--      (function(d, s, id) {-->
    <!--        var js, fjs = d.getElementsByTagName(s)[0];-->
    <!--        if (d.getElementById(id)) return;-->
    <!--        js = d.createElement(s); js.id = id;-->
    <!--        js.src = 'https://connect.facebook.net/cs_CZ/sdk/xfbml.customerchat.js';-->
    <!--        fjs.parentNode.insertBefore(js, fjs);-->
    <!--      }(document, 'script', 'facebook-jssdk'));</script>-->
    <!--    &lt;!&ndash; Your customer chat code &ndash;&gt;-->
    <!--    <div class="fb-customerchat"-->
    <!--         attribution=setup_tool-->
    <!--         page_id="575004152681988"-->
    <!--         greeting_dialog_display="hide"-->
    <!--         theme_color="#090343">-->
    <!--    </div>-->

  </div>
</template>

<script lang="ts">
import {Vue, Component} from 'vue-property-decorator';
import {Footer, Header} from '~/components/layout';

@Component({
  components: {
    'v-header': Header,
    'v-footer': Footer
  }
})
export default class extends Vue {

}
</script>
