<template>
  <div class="homepage">
    <div class="row">
      <div class="column text-center">
        <v-typo variant="h1" style="margin-top: 3rem;">
          Ověřená půjčovna dodávek a osobních <br>
          automobilů. 8&nbsp;let na trhu.
        </v-typo>
        <v-typo variant="body" style="margin-top: 1.25rem;">
          Vaši rezervací potvrdíme (v&nbsp;pracovní době, 8–17) do 60 minut. <br>
          Pokud s&nbsp;rezervací spěcháte, raději nás kontaktujte <strong>telefonicky na čísle <a
          href="tel:+420604245505">+420&nbsp;604&nbsp;245&nbsp;505.</a></strong>
        </v-typo>
        <v-button :classes="['rules__cta']" variant="primary" v-scroll-to="'#calculator'" style="margin-top: 1.25rem;">
          <nuxt-link style="text-decoration: none;" to="/">Chci si půjčit dodávku nebo auto</nuxt-link>
        </v-button>
        <v-typo variant="h1" style="margin-top: 3.75rem;">
          Nechválíme se my, chválí nás <br>
          naši <a
          href="https://www.google.com/search?client=safari&sa=X&sca_esv=09df9e42e4754873&rls=en&hl=cs-CZ&tbm=lcl&q=DRIVE+Plze%C5%88+%7C+P%C5%AFj%C4%8Dovna+dod%C3%A1vek+%7C+Autop%C5%AFj%C4%8Dovna+Recenze&rflfq=1&num=20&stick=H4sIAAAAAAAAAONgkxIxNDYxsbC0sDSxtDA0MjYytTAwMdjAyPiK0dolyDPMVSEgpyr1aIdCjULA0fVZR3rzy_ISFVLyUw4vLEvNBoo6lpbkFyBkglKTU_OqUhexUqIbAJeRmACXAAAA&rldimm=13448989498123258040&ved=2ahUKEwjTwbvmi8yFAxXq3QIHHdxqBcMQ9fQKegQIPRAF&biw=1782&bih=1262&dpr=2#lkt=LocalPoiReviews">ověření</a>
          zákazníci.
        </v-typo>

        <div style="display: flex; flex-direction: column; align-items: center; gap: 20px; margin-top: 2.5rem;">
          <v-badge>
            Jednaní super, auta v super stavu, za mne mohu jen doporučit.
          </v-badge>
          <v-badge>
            <strong>Skvělý servis, super přátelský!!!</strong> Ještě jednou děkuji za vaši velmi nekomplikovanou <br>
            pomoc!!! Přejeme hodně štěstí a zdraví i nadále!!!
          </v-badge>

          <v-badge>
            Spokojenost, fungovali i o víkendu....
          </v-badge>
          <v-badge>
            Super přístup i jednání 👍
          </v-badge>
          <v-button :classes="['rules__cta']" variant="primary" v-scroll-to="'#calculator'">
            <nuxt-link style="text-decoration: none;" to="/">Skvělé recenze, chci půjčit dodávku!</nuxt-link>
          </v-button>
        </div>

        <v-typo variant="h1" style="margin-top: 3.75rem;">
          Proč si vybrat právě autopůjčovnu <br>
          DrivePlzeň?
        </v-typo>

        <ul class="text-center"
            style="display: flex; align-items: center; flex-direction: column;gap: 1rem; list-style: none; margin-top: 1rem;">
          <v-typo variant="body" element="li">
            👍 Blesková reakce – funguje každý den, včetně víkendů
          </v-typo>
          <v-typo variant="body" element="li">
            👍 Naše dodávky i auta jsou připravené na okamžitou jízdu, klidně i do zahraničí
          </v-typo>
          <v-typo variant="body" element="li">
            👍 Rychlé převzetí dodávky v Plzni nebo blízkém okolí, kam můžeme dodávku dovést
          </v-typo>
          <v-typo variant="body" element="li">
            👍 Nejsme limitování jen jednou dodávkou, máme více vozidel
          </v-typo>
          <v-typo variant="body" element="li">
            👍 Žádné skryté poplatky, všechno si pohodlně spočítáte v naší
            <NuxtLink to="/#calculator">online kalkulačce</NuxtLink>
          </v-typo>
        </ul>

        <v-typo variant="h1" style="margin-top: 3.75rem;">
          Proč si vybrat právě autopůjčovnu <br>
          DrivePlzeň?
        </v-typo>

        <div style="display: flex; align-items: center; flex-direction: column;gap: 1rem; margin-top: 1rem;">
          <v-typo variant="body">
            Začali jsme s půjčováním dodávek v roce 2016 a od té doby obsloužili pár tisíc zákazníků, díky čemuž už jsme
            v půjčování dodávek opravdu ostřílená firma. A protože poptávka po půjčování dodávek byla čím dál tím
            častěji doplňována poptávkou na půjčení auta, přidali jsme po čase také nabídku osobních automobilů.
          </v-typo>
          <v-typo variant="body">
            Nepotřebujete velkou dodávku ke stěhování, ale chcete převést větší náklad? Potřebujete na dovolenou, ale
            vaše auto přestalo fungovat? Pak využijte DrivePlzeň. Půjčení dodávky i auta zvládnete vyřešit během pár
            minut a bezproblémové převzetí, skvělý stav vozového parku, dálniční známka a cesty do zahraničí jsou u nás
            samozřejmostí.
          </v-typo>
          <v-typo variant="body">
            Naše firma se specializuje na půjčování dodávek již od roku 2016. S nadšením jsme obsloužili tisíce
            spokojených zákazníků, což nás činí předními odborníky v oblasti půjčování dodávek. S rostoucí poptávkou po
            flexibilních možnostech půjčení vozidel jsme rozšířili naši nabídku o osobní automobily, abychom lépe
            vyhověli potřebám našich klientů.
          </v-typo>
          <v-typo variant="body">
            Nemáte-li potřebu pro velkou dodávku při stěhování, ale stále potřebujete převézt větší náklad, neboť vaše
            auto selhalo v klíčový moment? Nebo plánujete dovolenou a vaše vlastní vozidlo vám nedává jistotu? V tom
            případě je tu pro vás DrivePlzeň. S námi můžete půjčit dodávku i osobní auto rychle a snadno, s
            bezproblémovým převzetím a vynikajícím stavem našeho vozového parku. Navíc poskytujeme dálniční známku a
            možnost cestování do zahraničí jako standardní služby.
          </v-typo>
          <v-button :classes="['rules__cta']" variant="primary" v-scroll-to="'#calculator'">
            <nuxt-link style="text-decoration: none;" to="/">Půjčení dodávky v Plzni a okolí</nuxt-link>
          </v-button>
        </div>

        <v-contact/>

      </div>
    </div>
  </div>
</template>

<script lang="ts">
import {Component, Vue} from 'vue-property-decorator'
import {Calculator, CarInfo, Contact, Rules, Visual} from '~/components'
import Badge from "~/plugins/Badge/Badge.vue";

@Component({
  components: {
    'v-contact': Contact,
    'v-badge': Badge
  }
})
export default class Homepage extends Vue {
  head(): Object {
    return {
      title: 'Drive | Půjčovna dodávek Plzeň',
      keywords: ''
    }
  }
}
</script>

<style lang="scss">
@import '~@/assets/scss/page/Homepage.scss';
</style>
