<template>
  <div class="homepage">
    <v-visual/>
    <v-car-info/>
    <v-rules/>
    <v-calculator/>
    <v-contact-form/>
    <v-contact/>
  </div>
</template>

<script lang="ts">
import {Component, Vue} from 'vue-property-decorator'
import {Calculator, CarInfo, Contact, Rules, Visual} from '~/components'
import ContactForm from "~/components/ContactForm.vue";

@Component({
  components: {
    'v-visual': Visual,
    'v-car-info': CarInfo,
    'v-rules': Rules,
    'v-calculator': Calculator,
    'v-contact-form': ContactForm,
    'v-contact': Contact
  }
})
export default class Homepage extends Vue {
  head(): Object {
    return {
      title: 'Drive | Půjčovna dodávek Plzeň',
      keywords: ''
    }
  }
}
</script>

<style lang="scss">
@import '~@/assets/scss/page/Homepage.scss';
</style>
