@import '~/assets/scss/core/_core';

.button {
  $this: &;
  display: inline-block;
  border: none;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  border-radius: 21px;
  font-family: sans-serif;
  font-size: 100%;
  border: none;
  padding: 12px 44px;

  &:focus {
    outline: none;
  }

  &__label {
    position: relative;
    top: 1px;
    font-size: 18px;
    font-weight: 500;
    font-family: $ffBody;
  }

  &__icon {
    margin-left: 15px;
    @include size(22px, 17px);
  }

  &--primary {
    position: relative;
    background-color: $cPurple;
    transition: background-color $tdDefault ease-in-out;

    #{$this}__label {
      color: $cWhite;
    }

    svg path {
      fill: $cWhite;
    }

    &:hover {
      background-color: darken($cPurple, 10%);
    }

  }

  &--outline {
    border: 1px solid #cad1de;
    background-color: rgba($cPrimary, 0);
    transition: background-color $tdDefault ease-in-out;

    #{$this}__label {
      color: $cPrimary;
      transition: color $tdDefault ease-in-out;
    }

    &:hover {
      background-color: rgba($cPrimary, 0.15);
      /*#{$this}__label {
        color: $cWhite;
      }*/
    }
  }

  @include breakpoint(phone down) {
    padding: 17px 30px;
  }

  @include breakpoint(tiny down) {
    width: 100%;
  }

}
