<template>
	<component
		:class="[...classes, 'button', ...variantClasses]"
		:disabled="disabled"
		:href="href || null"
		:is="element"
		:target="target || null"
		:to="to || null"
		@click="clickHandler"
	>
		<v-typo class="button__label" element="span" variant="button">
			<slot></slot>
		</v-typo>
		<svg
			v-if="icon"
			class="button__icon icon icon--arrow"
			xmlns="http://www.w3.org/2000/svg" width="22" height="17" viewBox="0 0 29 16.75"><path d="M.84,9.21H26.45l-6.4,6.1a.83.83,0,0,0,0,1.18.85.85,0,0,0,1.18,0l7.31-7A1.7,1.7,0,0,0,29,8.38a1.64,1.64,0,0,0-.51-1.2L21.2.23A.81.81,0,0,0,20.62,0a.83.83,0,0,0-.6.26.83.83,0,0,0,0,1.18l6.42,6.1H.84a.84.84,0,1,0,0,1.67Z"/></svg>
	</component>
</template>

<script lang="ts">
	import {Component, Prop, Vue} from 'nuxt-property-decorator';

	@Component({})
	export default class Button extends Vue {
		@Prop({default: null}) readonly variant?: string | null;
		@Prop({default: null}) readonly theme?: string | null;
		@Prop({default: false}) readonly icon?: boolean;
		@Prop({default: () => ([])}) readonly classes?: Array<string>;
		@Prop({default: false}) readonly disabled!: boolean;
		@Prop({default: null}) readonly href?: string | null;
		@Prop({default: null}) readonly to?: string | null;
		@Prop({default: 'button'}) readonly element?: string | null;
		@Prop({default: null}) readonly target?: string | null;
		@Prop({default: null}) readonly onClick?: Function | null;

		get clickHandler(): Function {
			return this.onClick ? this.onClick : () => ({});
		}

		get variantClasses(): Array<string> | null {
			if (!this.variant) {
				return null;
			}

			return this.variant.split(' ').map((variant) => {
				return `button--${variant}`
			});
		}

	}
</script>

<style lang="scss">
	@import './Button';
</style>
