@import '../core/_core';

@include normalize();

// set basic spacings
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary,
p,
ul,
ol,
li,
h1, h2, h3, h4, h5, h6 {
	margin-bottom: 0;
	line-height: 1;
}

p,
li {
	line-height: 1.75;
}

h1, h2, h3, h4, h5, h6 {
	line-height: 1.5;
}

@include foundation-flex-grid;


// @import "fonts";
@import "animations";
@import "common";
@import "utils";
@import "page";
@import "fonts";

@import "../layout/section";
