// BASE ELEMENTS
*,
*:before,
*:after {
  box-sizing: border-box;
}

* {
  tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  padding: 0;
  margin: 0;
}

html {
  font-size: 100%;
  width: 100%;
  height: 100%;

  &.is-open {
    overflow: hidden;
  }

}

body {
  text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -ms-text-size-adjust: 100%;
  font-family: $ffBody;
  font-size: 16px;
  font-weight: $fwRegular;
  line-height: 1.5em;
  letter-spacing: 0;
  background-color: $cGrey-500;
  color: $cGrey;
  width: 100%;
  height: auto;
  //overflow-x: hidden;
}

// COMMON ELEMENTS
a {
  outline: 0;
  color: inherit;
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}

mark {
  background-color: transparent;
  color: $cPrimary;
}

svg {
}

img {
  max-width: 100%;
  width: 100%;
  height: auto;
}

input::-ms-clear {
  display: none;
}
