.page {
	position: relative;
}

// foundation flexbox grid correction

.row {
	//justify-content: center;
	// at rows nejsou nalepené úplně na okraj viewportu
	padding-left: map_get($grid-column-gutter, tiny)/2;
	padding-right: map_get($grid-column-gutter, tiny)/2;
	// 1190 2*20 (padding) - 2*5 (column gutter) = 1240
	max-width: #{$grid-row-width};
	width: 100%;

	// nested rows
	.row {
		padding-left: 0;
		padding-right: 0;
		max-width: none;
		width: auto;

		// nested column
		.column {
			margin-left: 0;
			margin-right: 0;
		}
	}

}
